<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body ng-app="flashCards">
        <div style="text-align: center" ng-controller="NewCardController">
            <label for="question">enter question here</label>
            <input type="text" id="question" ng-model="newCard.question">
            <select ng-model="newCard.category">
                <option value="MongoDB">MongoDB<option>
                <option value="Express">Express<option>
                <option value="Angular">Angular<option>
                <option value="Node">Node<option>
            </select><br>
            <input type="text" id="answer1" ng-model="newCard.answers[0].text">Answer 1 - check if correct<input type="checkbox" id="checkbox1"><br>
            <input type="text" id="answer2" ng-model="newCard.answers[1].text">Answer 2 - check if correct<input type="checkbox" id="checkbox2"><br>
            <input type="text" id="answer3" ng-model="newCard.answers[2].text">Answer 3 - check if correct<input type="checkbox" id="checkbox3">
            <pre>{{ newCard | json }} </pre>
            <button style="margin-top: 10px">Submit</button>
        </div>
        <div ng-controller="MainController">

          <flash-cards-nav on-category-changed='setCategory(cat)'></flash-cards-nav>
          <cheater cheat='cheat'></cheater>

          <stats></stats>

          <flash-cards flash-cards='flashCards' cheat='cheat'></flash-cards>


        	<script src="/js/lib/angular.js"></script>
        	<script src="/js/app.js"></script>

        	<script src="/js/factories/flash_cards_factory.js"></script>
        	<script src="/js/factories/score_factory.js"></script>

        	<script src="/js/controllers/main.controller.js"></script>
            <script src="/js/controllers/new_card_controller.js"></script>
        	<script src="/js/filters/cheat.js"></script>

        	<script src="/js/directives/stats.js"></script>
        	<script src="/js/directives/flash_cards_nav.js"></script>
        	<script src="/js/directives/flash_card.js"></script>
        	<script src="/js/directives/flash_cards.js"></script>
        	<script src="/js/directives/cheater.js"></script>
        </div>
    </body>
</html>
